.bg-image{
  background-image:url(C:\Users\danie\Desktop\095844\icon_logo.jpg );
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
